<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>INVENTARIO</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  <body>
    <!--<nav class="navbar navbar-expand-lg bg-body-tertiary">-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">App Iventario</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav"><li class="nav-item"><a class="nav-link" href="/">Inicio</a></li></ul>
        </div>
      </div>
    </nav>

    <div class="container text-center">
      <div>
        <h1>Bienvenidos a la aplicación de inventario</h1>
      </div>
      <div class="p-2">
        <a class="h2" th:href="@{/usuarios}">Lista de usuarios</a>
      </div>
      <div class="p-2">
        <a class="h2" th:href="@{/usuarios/nuevo}">Agregar nuevo usuario</a>
      </div>
      <div class="p-2">
        <a class="h2" th:href="@{/marcas}">Lista de marcas</a>
      </div>
      <div class="p-2">
        <a class="h2" th:href="@{/marcas/nuevo}"> Agregar nueva marca</a>
      </div>
      <div class="p-2">
        <a class="h2" th:href="@{/categorias}">Lista de categorias</a>
      </div>
      <div class="p-2">
        <a class="h2" th:href="@{/categorias/nuevo}">Agregar nueva categorias</a>
      </div>
      <div class="p-2">
        <a class="h2" th:href="@{/productos}">Lista de productos</a>
      </div>
      <div class="p-2">
        <a class="h2" th:href="@{/productos/nuevo}">Agregar nuevo producto</a>
      </div>
    </div>
  </body>
</html>
